<%-include('cabecalho.ejs')%>    
    <form method="post">
        <div id="barra"> 
        Pesquisar: <input type="text" name="txtPesquisa" placeholder="Pesquisar">
        <input type="submit" value="Pesquisar">
    </div>
    </form>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>
        <%for(usuario of Usuarios){%>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><%=usuario.foto%></td>
            <td>
                <a href="/del/<%=usuario._id%>">Deletar</a>
            </td>
            <td>
                <a href="/edit/<%=usuario._id%>">Editar</a>
            </td>
        </tr>
        <% } %>
    </table>
    <style>
        #barra{
         font-size: 15px;
         font-family: 'Candara';
         color: rgb(158, 35, 35);
        }
    </style>
<%-include('rodape.ejs')%> 